{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS,
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
    The basic layout of Chill. All the page / template of Chill must use this template.
#}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ installation.name }} - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('build/chill.css') }}"/>
    {% block css%}<!-- nothing added to css -->{% endblock %}
</head>

<body>
    <header class="navigation container">
        <div class="grid-4 hide-tablet hide-mobile parent">
            <div class="grid-10 push-2 grid-tablet-12 grid-mobile-12 push-tablet-0 grid-mobile-0 logo-container">
                <a href="{{ path('chill_main_homepage') }}">
                    {{ include('@ChillMain/Layout/_header-logo.html.twig') }}
                </a>
            </div>
        </div>
        <div class="grid-8 grid-tablet-12 grid-mobile-12 text-right parent">
            <div class="nav">
                <ul class="navigation-menu">
                    {% block navigation_section_menu %}
                        {{ chill_menu('section', {
                            'layout': 'ChillMainBundle::Menu/section.html.twig',
                        }) }}
                    {% endblock %}

                    {{ chill_menu('user', {
                        'layout': 'ChillMainBundle::Menu/user.html.twig',
                    }) }}

                    {% if  available_languages|length == 1 %}
                        <li class="nav-link2 lang-selection">
                            <div class="li-content">
                                <a href="">{{ available_languages[0] | capitalize }}</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-link2 lang-selection">
                            <div class="li-content">
                                <a href="#" class="more">{{ app.request.locale | capitalize }}</a>
                            </div>
                            <ul class="submenu">
                                {% for lang in available_languages  %}
                                    <li {% if lang == app.request.locale %}class="active"{% endif %}>
                                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : lang})) }}">{{ lang | capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>

            {% block navigation_search_bar %}
                <div class="navigation-search">
                    <form action="{{ path('chill_main_search') }}" method="get">
                        <input name="q" type="search" placeholder="{{ 'Search'|trans }}" {% if _search_pattern is defined %}value="{{ _search_pattern }}"{% endif %}/>
                        <button type="submit" class="sc-button"><i class="fa fa-search fa-flip-horizontal"></i></button>
                    </form>
                </div>
            {% endblock  %}
        </div>
    </header>

    {% block top_banner %}{# To use if you want to add a banner below the header (ie the menu) #}{% endblock %}

    <div id="content_conainter">
        {% block sublayout_containter %}
            <div class="container content">
                {# Flash messages ! #}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="grid-8 centered success flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="grid-8 centered error flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="grid-8 centered notice flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}

                {% block content %}
                    <div class="container">
                        <div class="grid-8 centered flash_message">
                            <h2>{{ 'Search'|trans }}</h2>

                            <form action="{{ path('chill_main_search') }}" method="get">
                                <input name="q" type="search" placeholder="{{ 'Search persons, ...'|trans }}" />
                                <center>
                                    <button type="submit" class="sc-button orange"><i class="fa fa-search"></i> {{ 'Search'|trans }}</button>
                                </center>
                            </form>
                        </div>
                    </div>

                    <div class="homepage_widget">
                    {{  chill_widget('homepage', {} ) }}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {{ include('@ChillMain/Layout/_footer.html.twig') }}

    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/chill.js') }}"></script>

    <script type="text/javascript">
        chill.initPikaday('{{ app.request.locale }}');
        chill.emulateSticky();
        chill.checkOtherValueOnChange();
        $('.select2').select2({allowClear: true});
        chill.categoryLinkParentChildSelect();
    </script>

    {% block js%}<!-- nothing added to js -->{% endblock %}
</body>
</html>
