fieldset {
   border: none;
   margin: 0 0 ($base-spacing / 2) 0;
   padding: $base-spacing;
}

input,label, select {
   display: block;
   /*  font-family: $form-font-family;
   font-size: $form-font-size; */
}

label {
   padding-top: $base-spacing / 3;
   padding-bottom: $base-spacing / 3;
   font-weight: bold;
   margin-bottom: $base-spacing / 4;

   &.required:after {
      content: "*";
      color: $red;
      font-weight: 900;
   }

   abbr {
      display: none;
   }
   
    // mark the label for empty placeholder
    &[for$="_placeholder"] {
       font-style: italic;
    }
}

.inline-choice {
   white-space:nowrap;
   display: inline-block;
   
   label {
      white-space:normal;
      display: inline;
      line-height: 1 + ((2 * $base-spacing) / 3);
      margin-right: 1em;
      font-weight: normal;
   }
}

div.choice-widget-expanded  {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

textarea,
//input,
#{$all-text-inputs},
select[multiple=multiple] {
   //@include box-sizing(border-box);
   //@include transition(border-color);
   background-color: white;
   @include border-top-radius($form-border-radius);
   @include border-bottom-radius($form-border-radius);
   border: $form-border-size solid $form-border-color;
   box-shadow: none;
   //box-shadow: $form-box-shadow;
   /*font-family: $form-font-family;
   font-size: $form-font-size; */
   margin-bottom: $base-spacing / 4;
   padding: ($base-spacing / 3) ($base-spacing / 3);
   width: 100%;

   &:hover {
      border-color: $form-border-color-hover;
   }

   &:focus {
      border-color: $form-border-color-focus;
      box-shadow: $form-box-shadow-focus;
      outline: none;
   }
}

textarea {
   resize: vertical;
}

input[type="search"] {
   //@include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
   display: inline;
   margin-right: $base-spacing / 4;
}

input[type="file"] {
   padding-bottom: $base-spacing / 2;
   width: 100%;
}

select {
   margin-bottom: $base-spacing / 4;
   padding-top: ($base-spacing / 5);
   padding-bottom: ($base-spacing / 5);
   width: 100%;
}

form {
   p {
      &.tip {
         font-size: .875em;
         position: relative;
         text-align: center;
         margin-top: -.3em;
      }

      &.label {
         padding: 0;
         //margin: 0;
         //color: $text-color;
         white-space: normal;
      }
   }

   fieldset {
      border: none;
      margin-bottom: 1.5em;
      padding: 0;
      margin: 0;

      legend {
         font-size: 1.438em;
         font-weight: 700;
         width: 100%;
         border-bottom: 3px solid #ddd;
         margin-bottom: 1em;

         & + * {
            -webkit-margin-top-collapse: separate; // webkit hack that makes the legend margins work like they should
         }

         h2 {
            margin-bottom: 0;
         }
      }
   }

   li {
      label {
         display: inline-block;
         font-weight: normal;
      }
   }
}

@import "../custom/modules/forms";

