
$chill-blue: #334d5c;
$chill-green: #43b29d;
$chill-green-dark: #328474;
$chill-yellow: #eec84a;
$chill-orange: #e2793d;
$chill-red: #df4949;
$chill-gray: #ececec;
$chill-beige: #cabb9f;
$chill-pink: #dd506d;
$chill-dark-gray: #333333;
$chill-light-gray: #b2b2b2;
$chill-llight-gray: #e6e6e6;

$dark-grey: $chill-dark-gray;

$color-name: "blue" "green" "green-dark" "yellow" "orange" "red" "gray" "beige" "pink" "dark-gray" "light-gray";
$color-code: #334d5c #43b29d #328474 #eec84a #e2793d #df4949 #ececec #cabb9f #dd506d #333333 #b2b2b2;

@for $i from 1 through length($color-name) {
  .chill-#{nth($color-name, $i)} {
    color: nth($color-code, $i);
  }
}

$orange: $chill-orange;
$red: $chill-red;
$green: $chill-green;
$blue: $chill-blue;
$yellow: $chill-yellow;

$black: #111111;
$white: #ffffff;
$light-grey: $chill-light-gray;

/*
  due to a bug in sass, we must re-declare the variable in css
  (use of a sass variable after -- does not work)
*/
:root {
    --chill-blue: #334d5c;
    --chill-green: #43b29d;
    --chill-green-dark: #328474;
    --chill-yellow:  #eec84a;
    --chill-orange: #e2793d;
    --chill-red: #df4949;
    --chill-gray: #ececec;
    --chill-beige: #cabb9f;
    --chill-pink: #dd506d;
    --chill-dark-gray: #333333;
    --chill-light-gray: #b2b2b2;
    --chill-llight-gray: #e6e6e6;

    --dark-grey: #333333;

    --orange: #e2793d;
    --red: #df4949;
    --green: #43b29d;
    --blue: #334d5c;
    --yellow: #eec84a;

    --black: #111111;
    --white: #ffffff;
    --light-grey: #b2b2b2;
}
