.container-export {
    margin-left: 1rem;
    margin-right: 1rem;
    
    .export-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .export-list__element {
            min-width: 18rem;
            max-width: 20rem;
            padding: 1rem;
            margin: 1rem;
            flex-grow: 1;
            
            border: 1px solid var(--chill-gray);
        }
    }
}
