{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "ChillMainBundle::layout.html.twig" %}

{% block title %}{{ 'Exports list'|trans }}{% endblock %}


{% block content %}
<div class="container-export">
    <h1>{{ 'Exports list'|trans }}</h1>

        <div>
            {% for group, exports in grouped_exports if group != '_' %}
                <h2>{{ group }}</h2>
                
                <div class="export-list">
                    {% for export_alias, export in exports %}
                    <div class="export-list__element">
                        <h2>{{ export.title|trans }}</h2>
                        <p>{{ export.description|trans }}</p> 

                        <p>
                            <a class="sc-button bt-action" href="{{ path('chill_main_export_new', { 'alias': export_alias } ) }}">
                                {{ 'Create an export'|trans }}
                            </a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
            
            {% if grouped_exports|keys|length > 1 %}
                <h2>{{ 'Ungrouped exports'|trans }}</h2>
            {% endif %}
            
            <div class="export-list">
                {% for export_alias,export in grouped_exports['_'] %}    
                <div class="export-list__element">
                    <h2>{{ export.title|trans }}</h2>
                    <p>{{ export.description|trans }}</p> 

                    <p>
                        <a class="sc-button bt-action" href="{{ path('chill_main_export_new', { 'alias': export_alias } ) }}">
                            {{ 'Create an export'|trans }}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}
