{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "ChillMainBundle::layoutWithVerticalMenu.html.twig" %}

{% block title %}{{ export.title|trans }}{% endblock %}

{% block layout_wvm_content  %}
    
    <h1>{{ export.title|trans }}</h1>
    
    <p>{{ export.description|trans }}</p>

    {{ form_start(form) }}
    
    <h2>{{ 'Pick centers'|trans }}</h2>
    
    <p>{{ 'The export will contains only data from the picked centers.'|trans }} 
        {{ 'This will eventually restrict your possibilities in filtering the data.'|trans }}</p>

    {{ form_widget(form.centers.c) }}
    
    {% if form.centers.children.g is defined %}
        
        <h3>{{ 'Pick aggregated centers'|trans }}</h3>
        
        {% for f in form.centers.children.g.children %}
        {{ form_row(f) }}
        {% endfor %}
    {% endif %}
    
    <p>{{ form_widget(form.submit, { 'attr' : { 'class' : 'sc-button btn-action bt-create' }, 'label' : 'Go to export options' } ) }}</p>
    {{ form_end(form) }}
    
{% endblock layout_wvm_content  %}
