div.chill_address {
    div.chill_address_address {
        margin: 0.7em 0;
        font-size: 98%;
        font-variant: small-caps;
        
        p {
            display: inline-block;
            margin: 0 0 0 1.5em;
            text-indent: -1.5em;
        }
        
    }
}
