.chill__box {
    font-variant: small-caps;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 0.88rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    color: white;

    &.green {
        background-color: var(--chill-green);
        color: white;
    }
    
    &.red {
        background-color: var(--chill-red);
        color: white;
    }
}

