/* the cf title will look like a `form legend h2` */
span.cf-title {
    display: block;
    font-weight: 700;
    border-bottom: 3px solid $light-grey;
    margin-bottom: 1em;
}

span.cf-subtitle {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 1em;
}
