// Symfony records actions
/*ul.record_actions {
  padding-left: 0;
}
ul.record_actions li {
  display: inline-block;
}*/

ul.record_actions, ul.record_actions_column {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0;
    flex-wrap: wrap-reverse;

    li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;
        order: 99;

        &:last-child {
            margin-right: 0;
        }
      }


    li.cancel {
          order: 1;
          margin-right: auto;
      }

}

ul.record_actions {
    flex-direction: row;
}

ul.record_actions_column {
    flex-direction: column;
}

ul.record_actions.sticky-form-buttons {
    padding-left: 1em;
    padding-right: 1em;
}

// inside table, little space between elements
td ul.record_actions,
   ul.record_actions_small {
    li {
        margin-right: 0.2em;
    }
}
