{%- macro _render(address, options) -%}
    {{  address|chill_entity_render_box( options|default({}) ) }}
    {%- set options = { 'with_valid_from' : true  }|merge(options|default({})) -%}
    {%- set options = { 'has_no_address'  : false }|merge(options|default({})) -%}
{%- endmacro -%}
