<div class="chill_address">
    {% if options['has_no_address'] == true and address.isNoAddress == true %}
        <div class="chill_address_is_noaddress">{{ 'address.consider homeless'|trans }}</div>
    {% endif %}
    <div class="chill_address_address">
    {% if address.streetAddress1 is not empty %}<p class="street street1">{{ address.streetAddress1 }}</p>{% endif %}
    {% if address.streetAddress2 is not empty %}<p class="street street2">{{ address.streetAddress2 }}</p>{% endif %}
    {% if address.postCode is not empty %}
    <p class="postalCode"><span class="code">{{ address.postCode.code }}</span> <span class="name">{{ address.postCode.name }}</span></p>
    <p class="country">{{ address.postCode.country.name|localize_translatable_string }}</p>
    {% endif %}
    </div>
{%- if options['with_valid_from'] == true -%}
<span class="address_since">{{ 'Since %date%'|trans( { '%date%' : address.validFrom|localizeddate('long', 'none') } ) }}</span>
{%- endif -%}
{% for k,v in address.customs %}
    <strong>{{ ('address.customs.' ~ k)|trans }}&nbsp;:</strong> {{ v }}
{% endfor %}
</div>
