{% extends "ChillMainBundle::Admin/layoutWithVerticalMenu.html.twig" %}

{% block admin_content %}
    <h1>{{ 'Administration interface'|trans }}</h1>
    
    {{ 'welcome_message_raw'|trans|raw }}
    
    <div>
        <h2>{{ 'Configuration alerts'|trans }}</h2>
            
        <p>{{ 'Here you can check the configuration of your instance.'|trans }}</p>
        
        {{ chill_widget('configuration_warnings', {}) }}
        
    </div>
    
{% endblock %}  