{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'New permission group'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'New permission group'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {% if form.flags is defined %}
    {{ form_row(form.flags) }}
    {% endif %}
    {{ form_row(form.submit, { 'attr': { 'class': 'sc-button green' } } ) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_permissionsgroup') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
