{%  extends "@ChillMain/Password/recover_layout.html.twig" %}

{% block title "Check your email"|trans %}

{% block content %}

<div class="grid-10 grid-mobile-10 grid-tablet-10 centered">

    <h1>{{ 'Check your email'|trans }}</h1>

    <p>{{ 'An email has been sent to your address. Click on the link inside this email to confirm that you are the owner of this account.'|trans }}</p>

</div>
    
{% endblock %}
