{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS,
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}


{%  extends "@ChillMain/Password/recover_layout.html.twig" %}


{% block title %}{{"Recover password"|trans}}{% endblock %}

{% block content %}
    <div class="grid-10 grid-mobile-10 grid-tablet-10 centered">

        <h1>{{ 'Recover password'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.username_or_email) }}
        
        <ul class="record_actions">
            <li>
                {{ form_widget(form.submit, { 'attr': { 'class': 'sc-button orange' } } ) }}
            </li>
        </ul>
            
        {{ form_end(form) }}
    
    </div>

{% endblock %}
