// For cutomizing the form elements

textarea {
    height: 12em;
}

span.force-inline-label label {
    display: inline;
}

   
.chill-form-money {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    span.chill-form-money__money {
        align-self: center;
        margin-left: 1em;
    }
}


.chill-form__errors {
    .chill-form_errors__entry.chill-form__errors__entry--warning {
        color: var(--chill-green-dark);
    }
}