.navigation {
    background-color: $chill-blue;


    a.more:after {
        color: $chill-dark-gray;
    }

    li.nav-link2 {
        a {
            margin-bottom: 2px;
        }

        &.lang-selection {
            color: $chill-light-gray;
            font-size: 0.7em;

            a.more:after {
                color: $chill-light-gray;
            }
        }

        ul {
            top: 58px;

            a {
                padding-left: 0;
            }
        }
    }

    div.nav, div.navigation-search {
        float: right;

        input[type=search] {
            padding: 0.2em;
            float: left;

            border: none;
        }

        button {
            color: $chill-light-gray;
            background-color: $chill-blue;
            padding: 0 0 0 7px;
            top: inherit;
            font-size: 1.2em;
            position: unset;
            float: left;
        }
    }
    
    li.user-menu {
        min-width: 14rem;
    }
    
    ul.user-menu-list {
        
        li.user-menu__entry {
            display: block; 
            background-color: $chill-dark-gray; 
            border-bottom: 1px solid #FFF;
            padding-top: 0; 
            padding-bottom: 0; 
            line-height: 2;
        }
        
        li.user-menu__entry--warning-entry {
            background-color: $chill-red;
            font-weight: 700;
        }
    }
    
    span.notification-counter {
        display: inline-block;
        padding: .25em .6em .25rem .6em;
        font-size: 100%;
        line-height: 1;
        text-align: center;
        white-space: nowrap;

        border-radius: 10rem;
        background-color: $chill-red;
        color: $white;
        font-weight: 700;
        margin-left: .5rem;
    }
}