{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'Edit password for %username%'|trans( { '%username%': entity.username } ) }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'Edit password for %username%'|trans( { '%username%': entity.username } ) }}</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.new_password) }}
    {{ form_widget(edit_form.submit, { 'attr': { 'class': 'sc-button orange' } } ) }}
    {{ form_end(edit_form) }}
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_user_edit', { 'id' : entity.id }) }}">
            {{ 'Back to the user edition'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
