{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'user list'|trans|capitalize }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'user list'|trans|capitalize }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'Username'|trans|capitalize }}</th>
                <th>{{ 'Actions'|trans|capitalize }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if entity.isEnabled == false %}user-disabled{% else %}user-enabled{% endif %}" >
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ 'show'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">{{ 'edit'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit_password',  { 'id' : entity.id }) }}">{{ 'Edit password'|trans }}</a>
                    </li>

                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                        <li>
                            <a href="{{ path('chill_main_homepage', {'_switch_user': entity.username }) }}">
                                {{ 'Impersonate'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                {{ 'Add a new user'|trans|capitalize  }}
            </a>
        </li>
    </ul>

{% endblock admin_content %}
