{% extends 'ChillMainBundle::Admin/layout_permissions.html.twig' %}

{% block title %}{{ 'User creation'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'User creation'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_widget(form.submit, { 'attr' : { 'class': 'sc-button blue' } }) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            {{ 'Back to the list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
