{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS,
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

<li class="nav-link2 user-menu">
	<div class="li-content">
		<a href="javascript:void(0)" style="font-size: 0.8em; font-family: 'Open Sans'; font-weight:300;">

			{{ 'Welcome' | trans }}<br/>

            <b>{{ app.user.username }}{{ render(controller('ChillMainBundle:UI:showNotificationUserCounter')) }}</b>

            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <i class="fa fa-wrench fa-lg" title="Impersonate mode"></i>
            {% endif %}

		</a>
	</div>
    <ul class="submenu width-11-em user-menu-list" style="padding-left: 0; padding-right: 0;  background-color:transparent;">
        {% for menu in menus %}
            <li style="display:block; background-color: #333333; padding-left:1.5em; border-bottom:1px; border-bottom: 1px solid #FFF;padding-top:0; padding-bottom:0;">
                <div style="margin-bottom:2px;">
                    <div style="font-family: 'Open Sans'; font-weight:300; font-size: 0.75em; text-align:left; height: 46px; display:inline-block;  width: calc(100% - 5em - 1px); vertical-align:top;">

                        {# Impersonate case logout #}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') and menu.name == 'Logout' %}

                            <a href="{{ path('admin_user', {'_switch_user': '_exit'}) }}">
                                {{ 'Exit impersonation'|trans }}
                            </a>

                        {% else %}
                            <a href="{{ menu.uri }}">{{ menu.label|trans }}</a>
                        {% endif %}

                    </div>
                    <div style="background-color: #333333;  text-align:center;width: 2em; margin-left:-0.15em; font-size:1.5em; color:#FFF; height: 46px; display:inline-block; vertical-align:top;float:right">{% spaceless %}
                        {% if menu.extras.icon is defined %}
                            <i class="fa fa-{{ menu.extras.icon }}"></i>
                        {% endif %}
                    {% endspaceless %}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</li>
