<div class="{% block crud_content_main_div_class %}grid-10 centered{% endblock %}">
    {% block crud_content_header %}
        <h1>{{ ('crud.' ~ crud_name ~ '.title_new')|trans({'%crud_name%' : crud_name }) }}</h1>
    {% endblock crud_content_header %}

    {% block crud_content_form %}
        {{ form_start(form) }}
        
        {% block crud_content_form_rows %}
        {% for f in form if f.vars.name != 'submit'  %}
        {{ form_row(f) }}
        {% endfor %}
        {% endblock crud_content_form_rows %}

        {% block crud_content_form_actions %}
        <ul class="record_actions sticky-form-buttons">
            {% block content_form_actions_back %}
                <li class="cancel">
                    <a class="sc-button bt-cancel" href="{{ chill_return_path_or('chill_crud_'~crud_name~'_index') }}">
                        {{ 'Cancel'|trans }}
                    </a>
                </li>
            {% endblock %} 
            {% block content_form_actions_save_and_close %}
                <li class="">
                    <button type="submit" name="submit" value="save-and-close" class="sc-button bt-create">
                        {{ 'crud.new.save_and_close'|trans }}
                    </button>
                </li>
            {% endblock %}
            {% block content_form_actions_save_and_show %}
                <li class="">
                    <button type="submit" name="submit" value="save-and-show" class="sc-button bt-create">
                        {{ 'crud.new.save_and_show'|trans }}
                    </button>
                </li>
            {% endblock %}
            {% block content_form_actions_save_and_new %}
                <li class="">
                    <button type="submit" name="submit" value="save-and-new" class="sc-button bt-create">
                        {{ 'crud.new.save_and_new'|trans }}
                    </button>
                </li>
            {% endblock %}
        </ul>
        {% endblock %}

        {{ form_end(form) }}
    {% endblock %}
</div>
