<div class="{% block crud_content_main_div_class %}grid-10 centered{% endblock %}">
    {% block crud_content_header %}
        <h1>{{ 'crud.%crud_name%.title_view'|trans({'%crud_name%' : crud_name }) }}</h1>
    {% endblock crud_content_header %}

    {% block crud_content_view %}
        
        {% block crud_content_view_details %}
            <dl class="chill_view_data">
                <dt>id</dt>
                <dd>{{ entity.id|default("No id") }}</dd>
            </dl>
        {% endblock crud_content_view_details %}

        {% block crud_content_view_actions %}
        <ul class="record_actions sticky-form-buttons">
            {% block content_view_actions_back %}
                <li class="cancel">
                    <a class="sc-button bt-cancel" href="{{ chill_return_path_or('chill_crud_'~crud_name~'_index') }}">
                        {{ 'Cancel'|trans }}
                    </a>
                </li>
            {% endblock %} 
            {% block content_view_actions_before %}{% endblock %}
            {% block content_form_actions_delete %}
                {% if chill_crud_action_exists(crud_name, 'delete') %}
                {% if is_granted(chill_crud_config('role', crud_name, 'delete'), entity) %}
                <li class="">
                    <a class="sc-button bt-delete" href="{{ chill_path_add_return_path('chill_crud_'~crud_name~'_delete', { 'id': entity.id }) }}">
                        {{ 'crud.delete.link_to_form'|trans }}
                    </a>
                </li>
                {% endif %}
                {% endif %}
            {% endblock content_form_actions_delete %} 
            {% block content_view_actions_duplicate_link %}
                {% if chill_crud_action_exists(crud_name, 'new') %}
                {% if is_granted(chill_crud_config('role', crud_name, 'new'), entity) %}
                    <li>
                        <a class="sc-button bt-duplicate" href="{{ chill_path_add_return_path('chill_crud_'~crud_name~'_new', { 'duplicate_id': entity.id, 'duplicate': true }) }}">
                            {{ 'crud.view.link_duplicate'|trans }}
                        </a>
                    </li>
                {% endif %}
                {% endif %}
            {% endblock content_view_actions_duplicate_link %}
            {% block content_view_actions_edit_link %}
                {% if chill_crud_action_exists(crud_name, 'edit') %}
                {% if is_granted(chill_crud_config('role', crud_name, 'edit'), entity) %}
                    <li>
                        <a class="sc-button bt-edit" href="{{ chill_path_forward_return_path('chill_crud_'~crud_name~'_edit', { 'id': entity.id }) }}">
                            {{ 'crud.new.link_edit'|trans }}
                        </a>
                    </li>
                {% endif %}
                {% endif %}
            {% endblock content_view_actions_edit_link %}
            {% block content_view_actions_after %}{% endblock %}
        </ul>
        {% endblock crud_content_view_actions  %}

    {% endblock crud_content_view %}
</div>
