div.chill-collection {
    ul.chill-collection__list {
        list-style: none;
        padding: 0;
        margin-bottom: 1.5rem;
        
        li.chill-collection__list__entry:nth-child(2n) {
            background-color: var(--chill-light-gray);
            padding: 0.5rem 0;
        }
        
        // all entries, except the last one
        li.chill-collection__list__entry:nth-last-child(1n+2) {
            margin-bottom: 1rem;
        }
        
        button.chill-collection__list__remove-entry {
            margin-left: 0.5rem;
        }
    }
    
    button.chill-collection__button--add {
        
        
    }
}

