@charset "UTF-8";

@import "contrib/normalize/normalize";
@import "contrib/fontawesome/font-awesome";
@import "contrib/bourbon/bourbon";

@import "config/colors";
@import "config/variables";
@import "config/buttons";

/* etrange pour les forms */
* { box-sizing: inherit; } 
html { box-sizing: border-box; }

@import "mixins/buttons";
@import "mixins/alerts";

@import "contrib/gridle/gridle/gridle";

@include gridle_setup((
   context : 12,
   gutter-width : 20px,
   direction : ltr,
));

@include gridle_register_state(mobile , (
   max-width : 400px
));

@include gridle_register_state(tablet, (
   min-width : 401px,
   max-width : 767px, 
));

@include gridle_generate_classes();

@import "modules/typography";
@import "modules/navigation";
@import "modules/content";
@import "modules/footer";
@import "modules/alerts";
@import "modules/forms";
@import "modules/buttons";
@import "modules/tabs";
@import "modules/table";

@import "custom";